<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="head/head.html::static('Add new')"></div>
<body>
<h1 > Add new </h1>

<form th:action="@{/add}" method="post">
    <div class="mb-3">
        <label for="attractions" class="form-label">Attractions</label>
        <input type="text" class="form-control" name="attractions" id="attractions">
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="description" rows="9"></textarea>
    </div>

    <div class="mb-3">
        <label for="name" class="form-label">author</label>
        <input type="text" class="form-control" name="name" id="name">
    </div>

    <div class="mb-3">
        <input type="hidden" class="form-control" name="popular" id="popular" value="0">
    </div>

    <button type="Submit"  class="btn btn-primary">Submit</button>
</form>

</body>
</html>