<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="head/head.html::static('Author')"></div>
<body>
<a class="btn btn-primary"  th:href="@{/}" role="button">Blogs</a>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Reward</th>
        <th scope="col">Operating</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="author: ${msg}">
        <td th:text="${'RWR-'+author.id}"></td>
        <td th:text="${author.name}"></td>
        <td th:text="${author.reward}"></td>
        <td>
            <a th:href="${'/SendReward/'+author.id}" class="btn btn-secondary">Pay Reward</a>
        </td>
    </tr>
    </tbody>

</table>
</body>
</html>