<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="head/head.html::static('Blogs')"></div>
<body>
<table class="table table-dark table-hover table-bordered">
    <thead>
    <tr>
        <th scope="col">Popular</th>
        <th scope="col">Author</th>
        <th scope="col">Attractions</th>
        <th scope="col">Operating</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="blog: ${msg}">
        <td th:text="${blog.popular}"></td>
        <td th:text="${blog.author.name}"></td>
        <td th:text="${blog.attractions}"></td>

        <td>
            <a th:href="${'/Details/'+blog.id}" class="btn btn-secondary">Details</a>
        </td>
    </tr>
    </tbody>
    <a class="btn btn-primary"  th:href="@{/new}" role="button">Add new</a>
    &nbsp;&nbsp;
    <a class="btn btn-primary"  th:href="@{/auhtor}" role="button">Author</a>
</table>

</body>
</html>