<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="head/head.html::static('Details')"></div>
<body>
<h1 > Details </h1>

<form th:action="@{/Update}" >
    <div class="mb-3">
        <label for="attractions" class="form-label">Attractions</label>
        <input type="text" class="form-control" th:value="${msg.getAttractions()}" name="attractions" id="attractions">
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" th:text="${msg.getDescription()}" name="description" rows="9"> </textarea>
    </div>

    <div class="mb-3">
        <label for="author" class="form-label">Author signature</label>
        <input type="text" class="form-control" th:value="${msg.getAuthor()}" id="author" name="author">
    </div>

    <div class="mb-3">
        <input type="hidden" class="form-control" id="popular" name="popular" th:value="${msg.popular+1}">
    </div>

    <div class="mb-3">
        <input type="hidden" class="form-control" id="id" name="id" th:value="${msg.id}">
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Comment</th>
        <th scope="col">Score</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="comments: ${coms}">
        <td th:text="${comments.comments}"></td>
        <td th:text="${comments.score+' /10'}"></td>

    </tr>
    </tbody>
    <a th:href="${'/Com/'+msg.id}" class="btn btn-secondary">Write a comment</a>
</table>

</body>
</html>