<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="head/head.html::static('Edit')"></div>
<body>
<h1 > Edit </h1>

<form>
    <div class="mb-3">
        <label for="attractions" class="form-label">Attractions</label>
        <input type="text" class="form-control" th:value="${msg.getAttractions()}" id="attractions">
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" th:text="${msg.getDescription()}" rows="3"> </textarea>
    </div>

    <div class="mb-3">
        <label for="Author signature" class="form-label">Author signature</label>
        <input type="text" class="form-control" th:value="${msg.getAuthor()}" id="Author signature">
    </div>

    <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        <input type="password" class="form-control" id="Password">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

</body>
</html>